/* -------BDB88 CSS RESET -------*/
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

iframe,
svg,
a {
    display: block;
}

/* -------TYPOGRAPHY -------*/
@font-face {
    font-family: 'itcFranklinGregular';
    font-weight: normal;
    src: url('fonts/ITCFranklinGothicLTBookRegular.woff2') format('woff2');
}

@font-face {
    font-family: 'itcFranklinGdemi';
    font-weight: bold;
    src: url('fonts/ITCFranklinGothicLTDemiRegular.woff2') format('woff2');
}
/* -------ROOT STYLES -------*/

:root {
    --bgColor: #ffffff;
    --midGray: #d5d5d5;
    --accentBlue: #2179ff;
    --accentOrange: #ff8d00;
    --accentPink: #ff3d89;
    --accentGreen: #00ae42;
    --txtDark: #262626;
    --txtBody: 'itcFranklinGregular', sans-serif;
    --txtNav: 'itcFranklinGdemi', sans-serif;

}
@media (prefers-color-scheme: dark) {
  
}
@media (prefers-color-scheme: light) {
  
}
/*----------MOBILE VERSION STYLES------------*/
body {
    margin: 0;
    background: #333;
    font-family: var(--txtBody);
}

a {
    text-decoration: none;
    color: var(--accentGreen);
}
article{
    width: 100%;
    background-color: var(--accentOrange);
    max-width: 80rem;
}

/* ------------ TOP NAV BAR -------------- */

header {

    background: var(--bgColor);
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 666;
}

.logo {
    margin: 1.5em 0;

}
section a{
    color: var(--txtDark);
}
.nav-toggle {
    display: none;
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: var(--txtDark);
    height: 3px;
    width: 2em;
    position: relative;

}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}

nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: var(--bgColor);
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;

}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-bottom: 1em;
    margin-left: 1em;
}

nav a {
    font-family: var(--txtNav);
    color: var(--txtDark);
    text-decoration: none;
    font-size: 1.2 rem;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

nav a:hover {
    color: var(--accentGreen);
}

.nav-toggle:checked ~ nav {
    transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

.nav-toggle:checked nav-toggle-label span {
    opacity: 0;
}

.nav-toggle:checked span::before {
    transform: rotate(45deg);
}

.nav-toggle:checked span::after {
    transform: rotate(-45deg);
}

/*       ------------- MAIN BODY -------------    */
main {
    padding-top: 6rem;
    padding-bottom: 5rem;
    background: var(--bgColor);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero{
    display: flex;
    justify-content: center;
    align-content: center;
}
.heroVideo{
    width: 100%;
    max-width: 80rem;
}
.container {
    padding: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 80rem;
    z-index: 1;
    position: relative;
}

.containerTxt {
    z-index: 30;
}

.containerIMG {
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    font-family: var(--txtNav);
    font-size: 2.2rem;
    padding-bottom: 2rem;
    color: var(--bgColor);
}

p {
    font-size: 1.3rem;
    padding-bottom: 1rem;
    line-height: 1.5;
    color: var(--bgColor);
}

.button {
    padding: .75rem 2rem;
    width: 10rem;
    background-color: var(--txtDark);
    font-family: var(--txtNav);
    color: var(--bgColor);
    border-radius: 100px;
    text-align: center;
}

.whyCycling {
    flex-direction: column;
    background-color: var(--accentGreen);
    background-image:
        linear-gradient(rgba(0, 174, 66, 0.45),
            rgba(0, 174, 66, 0.45)),
        url("../img/bgIMGwc.jpg");
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
    min-height: 40rem;
}

.wCimg {
    z-index: 3;
    width: 30%;
}

/* ------ HALF CIRCLES ---------*/
.hCwhite {
    position: absolute;
    bottom: 0;
    z-index: 2;
    width: 50%;
    height: auto;
    fill: var(--bgColor);
}

.hCblue {
    position: absolute;
    top: 0;
    fill: var(--accentBlue);
    z-index: 3;
    width: 609px;
    height: 304px;
}

/*------- DESKTOP VERSION --------*/

@media screen and (min-width: 850px) {
    .nav-toggle-label {
        display: none;
    }

    header {
        display: grid;
        grid-template-columns: .5fr auto minmax(600px, 3fr) .5fr;
        grid-template-rows: .5fr 1fr;
        padding-top: 1rem;
    }

    .logo {
        grid-column: 2 / span 1;
        grid-row: 2/3
    }
    .itdpLogoH{
        grid-column: 2 / span 1;
        grid-row: 1/2
    }
    .hIcon{
        grid-column: 3 / 4;
        grid-row: 1/2;
/*        display:flex;*/
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 2rem;
    }

    nav {
        all: unset;
        grid-column: 3 / 4;
        grid-row: 2/3;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    nav ul {
        display: flex;
    }

    nav li {
        margin-left: 3em;
        margin-bottom: 0;
    }

    nav a {
        opacity: 1;
        position: relative;
        font-size: 1.2rem;
    }

    nav a::before {
        content: '';
        display: block;
        height: 4px;
        background: var(--accentGreen);
        width: 100%;
        position: absolute;
        bottom: -.75em;
        left: 0;
        right: 0;
        transform: scale(0, 1);
        transform-origin: right;
        transition: transform ease-in-out 250ms;

    }

    nav a:hover::before {
        transform: scale(1, 1);
    }
    
    .container{
        flex-direction: row-reverse;
    }
    .whyCycling{
        flex-direction: row;
    }
    .containerTxt{
        max-width: 40%;
    }
    .containerIMG{
        max-width: 60%;
    }
    .ccPledge{
    flex-direction: row;
}
    .ccDashboard{
    flex-direction: row-reverse;
}

}

/*------- ANIMATION RESET --------*/
@media (prefers-reduced-motion) {
  *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
  }