main {
    height: 70vh;
    overflow-y: auto;
}

button {
    background-color: #262626;
    color: white;
    border: none;
    text-transform: uppercase;
    font-size: 14px;
    height: 40px;
    width: 200px;
    cursor: pointer;
    margin-top: 20px;
}

.formAuth label{
    width: 120px;
    display:block;
    font-size: 20px;
    margin: 10px 0;
}

input {
    width: 100%;
    padding: 5px;
}

.loading{
    pointer-events: none;
    opacity: 0.5;
}