/* -------BDB88 CSS RESET -------*/
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

ul,
li {
    /*    list-style: none;*/
}

iframe,
svg,
a,
    {
    display: block;
}

/* -------TYPOGRAPHY -------*/
@font-face {
    font-family: 'itcFranklinGregular';
    font-weight: normal;
    src: url('fonts/ITCFranklinGothicLTBookRegular.woff2') format('woff2');
}

@font-face {
    font-family: 'itcFranklinGdemi';
    font-weight: normal;
    src: url('fonts/ITCFranklinGothicLTDemiRegular.woff2') format('woff2');
}

@font-face {
    font-family: 'MegaByteBold';
    font-weight: bold;
    src: url('fonts/MegabyteBold.otf') format('opentype');
}
@font-face {
    font-family: 'MegaByteMedium';
    font-weight: normal;
    src: url('fonts/MegabyteMedium') format('opentype');
}

/* -------ROOT STYLES -------*/

:root {
    --cWhite: #ffffff;
    --cDark: #262626;
    --midGray: #D2D2D2;
    --accentBlue: #2179ff;
    --accentOrange: #ff8d00;
    --accentPink: #ff3d89;
    --accentGreen: #00ae42;
    --txtBody: 'itcFranklinGregular', sans-serif;
    --txtNav: 'itcFranklinGdemi', sans-serif;
    --txtHeadings: 'MegaByteBold', sans-serif;
    --txtMM: 'MegaByteMedium, sans-serif'
    --txtSizeBody: 1.0625rem;

}

@media (prefers-color-scheme: dark) {}

@media (prefers-color-scheme: light) {}

/*----------MOBILE VERSION STYLES------------*/
body {
    margin: 0;
    background: #333;
    font-family: var(--txtBody);
}

a {
    text-decoration: none;
    color: var(--accentGreen);
}

article {
    width: 100%;
    /*    background-color: var(--accentOrange);*/
    /*    max-width: 80rem;*/
}

/* ------------ TOP NAV BAR -------------- */

.topnav {

    background: var(--cDark);
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 666;
}

.logo {
    margin: 1.5em 0;

}

section a {
    color: var(--cWhite);
}

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: var(--cDark);
    height: 3px;
    width: 2em;
    position: relative;

}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}

.topnav nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: var(--cWhite);
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;

}

.topnav nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.topnav nav li {
    margin-bottom: 1em;
    margin-left: 1em;
}

.topnav nav a {
    font-family: var(--txtNav);
    color: var(--cWhite);
    text-decoration: none;
    font-size: 1.25 rem;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

.topnav nav a:hover {
    color: var(--accentGreen);
}

.nav-toggle:checked ~ nav {
    transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

.nav-toggle:checked nav-toggle-label span {
    opacity: 0;
}

.nav-toggle:checked span::before {
    transform: rotate(45deg);
}

.nav-toggle:checked span::after {
    transform: rotate(-45deg);
}

/*       ------------- MAIN BODY -------------    */
main {
    padding-top: 11.2rem;
    background: var(--cWhite);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero {
    display: flex;
    justify-content: center;
    align-content: center;
}

.heroVideo {
    width: 100vw;
    height: 55.6vw;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.containerTxt {
    z-index: 30;
}

.containerIMG {
    display: flex;
    justify-content: center;
    align-items: center;
}

.containrIMG img {
    width: 40rem;
}


.containerTxt p {
    font-size: var(--txtSizeBody);
    padding-bottom: 1rem;
    line-height: 1.5;
    color: var(--cWhite);
    margin-bottom: 5rem;
}

.button {
    padding: .75em 2em;
    width: 10rem;
    background-color: var(--cWhite);
    font-family: var(--txtNav);
    color: var(--cDark);
    border-radius: 100px;
    text-align: center;
}

article section h2,
h2 {
    font-family: var(--txtHeadings);
    font-size: 2.2rem;
    padding-bottom: 2rem;
    color: var(--cWhite);
}

.whyCycling {
    flex-direction: column;
    background-color: var(--accentGreen);
    justify-content: space-around;
    align-items: center;
    /*    min-height: 40rem;*/
}

.wCimg {
    /*    z-index: 3;*/
    /*    width: 30%;*/
}

.ccPledge {
    background-color: var(--accentOrange)
    /*        flex-direction: row;*/
}

.ccDashboard {
    background-color: var(--accentBlue);
}

.growCycle {
    background-color: var(--accentPink);
}

footer {
    background-color: var(--cDark);
    display: grid;
    grid-template-columns: .5fr auto minmax(600px, 3fr) .5fr;
    grid-template-rows: 1fr .5fr;
}

footer adress {
    color: var(--cWhite);

}

footer figure {
    color: var(--cWhite);

}

/*------- DESKTOP VERSION --------*/

@media screen and (min-width: 850px) {

    /*   --------- NAV -----*/
    .nav-toggle-label {
        display: none;
    }

    .topnav {
        display: grid;
        grid-template-columns: .5fr auto minmax(600px, 3fr) .5fr;
        grid-template-rows: .5fr 1fr;
        padding-top: 1rem;
    }

    .logo {
        grid-column: 2 / span 1;
        grid-row: 2/3
    }

    .itdpLogoH {
        grid-column: 2 / span 1;
        grid-row: 1/2
    }

    .hIcon {
        grid-column: 3 / 4;
        grid-row: 1/2;
        /*        display:flex;*/
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 2rem;
    }

    .topnav nav {
        all: unset;
        grid-column: 3 / 4;
        grid-row: 2/3;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .topnav nav ul {
        display: flex;
    }

    .topnav nav li {
        margin-left: 3em;
        margin-bottom: 0;
    }

    .topnav nav a {
        opacity: 1;
        position: relative;
        font-size: 1.2rem;
    }

    .topnav nav a::before {
        content: '';
        display: block;
        height: 4px;
        background: var(--accentGreen);
        width: 100%;
        position: absolute;
        bottom: -.75em;
        left: 0;
        right: 0;
        transform: scale(0, 1);
        transform-origin: right;
        transition: transform ease-in-out 250ms;

    }

    .topnav nav a:hover::before {
        transform: scale(1, 1);
    }

    /*---------Main Page Body-----------*/

    .container {
        flex-direction: row-reverse;
    }

    .whyCycling {
        flex-direction: row;
    }

    .containerTxt {
        max-width: 45ch;
    }

    .containerIMG {
        /*        max-width: 60%;*/
    }

    .ccPledge {
        flex-direction: row;
    }

    .ccDashboard {
        flex-direction: row-reverse;
    }

    /*    -----------Why Cycling Page Styles---------*/
    .articleContentWC {
        display: flex;
        flex-direction: column;
        margin: 0;

    }

    .articleContentWC .introHeader {
        background-color: var(--accentGreen);
        margin-left: 30rem;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 427px;
        padding-right: 4rem;
        padding-left: 10rem;

    }

    .wCimg {
        position: absolute;
        left: -215px;
    }

    .subTitleWC {
        padding: 8rem;
        display: block;
        font-family: var(--txtHeadings);
        font-size: 2rem;
        color: var(--accentGreen);
        max-width: 90rem;
        margin: 0 auto;

    }
    .subTitleWCpink{
        padding: 8rem;
        display: block;
        font-family: var(--txtHeadings);
        font-size: 2rem;
        color: var(--accentPink);
        max-width: 90rem;
        margin: 0 auto;
    }

    /*------- Accordions --------*/
    summary {
        padding: .6em;
        background-color: var(--cWhite);
        cursor: pointer;
        font-size: 1.5rem;
        font-family: var(--txtNav);
        color: var(--cDark);
        display: flex;
        justify-content: space-between;
    }

    summary:hover {
        /*        text-shadow: 0px 5px 10px black;*/
    }

    summary::marker {
        display: none;
    }

    details {
        max-width: 80rem;
        background-color: var(--cGold);
        margin: 0 auto;
        border-top: 3px solid black
    }

    .lastAccordion {
        border-bottom: 3px solid black;
        margin-bottom: 5rem;
    }

    details[open] {
        /*change styles for detailes when it opens */
    }

    details > summary::after {
        content: '\f067';
        font-family: 'Font Awesome 5 Free';
        font-weight: 700;
        font-size: 1.5rem;
        transition: transform 300ms ease;
    }

    details[open] > summary::after {
        transform: rotate(45deg);
    }

    .bigBodyTxt {
        width: 80rem;
        margin: 0 auto;
        font-family: var(--txtBody);
        font-size: 1.5rem;
        color: black;
        font-weight: bold;
        margin-bottom: 2rem;
    }

    .txt {
        width: 80rem;
        margin: 0 auto;
        font-family: var(--txtBody);
        font-size: 1.0625rem;
        color: black;
        margin-bottom: 5rem;
    }
    .dividerPink{
        max-width: 70VW;
        position: relative;
    }
    .dpImg{
        width: 100%
    }
    .dividerPink figcaption{
        height: clamp(5rem, 29vw - 1rem, 30vw);
        width: clamp(5rem, 29vw - 1rem, 30vw);
/*        padding: 4em;*/
        border-radius: 10000px;
        position: absolute;
        top:0;
        right:-11vw;
        background-color: var(--accentPink);
    }

    /*------------Seccion de PLEDGE---------*/

    .articleContentPL .introHeader {
        background-color: var(--accentOrange);
        margin-left: 30rem;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 427px;
        padding-right: 4rem;
        padding-left: 10rem;
    }

    .subTitlePL {
        padding: 8rem 0 4rem 0;
        display: block;
        font-family: var(--txtHeadings);
        font-size: 2rem;
        color: var(--accentOrange);
        max-width: 80rem;
        margin: 0 auto;

    }

    .pledgeIntroTxt {
        margin: 0 auto;
        font-size: 2rem;
        max-width: 80rem;
        margin-bottom: 2rem;
    }
    .sectorHolder{
        border-bottom: 1px solid black;
        width: 10em;
        background-color: red;
    }

    .pledgeGoals {
        margin: 0 auto;
        font-size: 1.5rem;
        max-width: 80rem;
        list-style: circle;
        margin-bottom: 2rem;
    }

    .pledgeGoals li::marker {
        content: 'ï„‘';
        font-family: 'Font Awesome 5 Free';
        font-weight: 700;
        font-size: .5rem;
        color: var(--cDark);
    }

    .pledgeGoals li {
        padding-left: 1rem;
        margin-bottom: 3rem;
    }

    /*    ---------PLEDGE FORM ----------*/

    .pledgeForm {
        height: 50rem;
        max-width: 80rem;
        background-color: var(--midGray);
        margin: 0 auto;
        padding: 4em 1.5em;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2em;

    }

    .pledgeForm input[type=text],
    .pledgeForm input[type=email] {
        height: 2.5rem;
        border: none;
    }

    .formLabels {
        font-family: var(--txtBody);
        font-size: 1.5rem;
    }

    .formSector {
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    .sectorCheckbox {
        display: flex;
        margin-top: 2em;
        gap: 1em;
    }

    .formName {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .formName input {
        width: 50%;
        margin-top: 1rem;
    }

    .formCityONG {
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    .formCityONG input {
        width: 60%;
        margin-top: 1rem;
    }

    .formYT {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .formYT input {
        width: 20%;
        margin-top: 1em;
    }

    .formCityCountry {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .formCityCountry div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;

    }

    .formCityCountry input {
        width: 60%;
        margin-top: 1rem;
    }

    .formEmail {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .formEmail input {
        width: 70%;
        margin-top: 1rem;
    }

    .formDisclaimer {
        grid-column: 1 / 3;
    }

    .formPrivacy {
        grid-column: 1 / 3;
    }

    .formButton {
        grid-column: 1 / 3;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .buttonForm {
        padding: .5em 1em;
        border-radius: 100px;
        border: none;
        background-color: var(--accentOrange);
        color: var(--cWhite);
        font-family: var(--txtHeadings);
        font-size: 1.4375rem;


    }

    /*    --------Pledge Footy--------*/

    .pledgeClosing {
        display: flex;
        align-items: center;
        margin: 6em 0em;
        max-width: 70vw;
        position: relative;
        background-image: url(../img/PLEDGE_footer.png);
    }

    .closingTxt {        
        height: clamp(5rem, 29vw - 1rem, 30vw);
        width: clamp(5rem, 29vw - 1rem, 30vw);
/*        padding: 4em;*/
        border-radius: 10000px;
        position: absolute;
        right: -13vw;
        background-color: var(--accentOrange);
        font-family: var(--txtHeadings);
        font-size: 2.5rem;
        color: var(--cWhite);
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .closingImg{
        width: 100%;
    }

    /*    ------------FOOTER STUFF----------- */

    footer {
        display: grid;
        grid-template-columns: .5fr auto minmax(400px, 3fr) .5fr;
        grid-template-rows: 1fr 1fr;
        padding-top: 1rem;
    }

    .logoFooter {
        grid-column: 2 / span 1;
        grid-row: 1/2;
        display: flex;



    }

    .logoFooter > * + * {
        margin-left: 4rem;
        align-self: flex-start;
    }

    footer adress {
        grid-column: 3 / span 1;
        grid-row: 1/2;
        display: flex;
        justify-content: flex-end;
        align-self: center;
    }

    .iconsFooter {
        grid-column: 3 / span 1;
        grid-row: 2/3;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 1em;

    }



    footer nav {
        grid-column: 2 / span 1;
        grid-row: 2/3;
        align-self: center;
        color: var(--cWhite)
    }

    footer nav ul {
        display: flex;
        gap: 1em;
    }

}

/*------- ANIMATION RESET --------*/
@media (prefers-reduced-motion) {

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}


.position-relative {
    position: relative;
}

/* Modal language */

.hideModalLanguage {
    display: none;
}

.showModalLanguage {
    display: inline-block;
}

.ModalLanguage {
    position: absolute;
    top: 25px;
    left: -145px;
    background-color: white;
    border-radius: 5px;
    width: 150px;
    z-index: 10;
    padding: 10px 10px;
}

.ModalLanguage p {
    text-decoration: none;
    color: black;
    text-align: left;
    cursor: pointer;
    margin: 0;
    padding: 5px 10px;
    display: inline-block;
    display: flex;
    align-items: center;
}

.ModalLanguage p:hover {
    background-color: #FF8D00;
}

.ModalLanguage img {
    width: 40px;
    margin-right: 10px;
}

.iconLanguage {
    width: 30px;
    margin-bottom: -6px;
    cursor: pointer;
}

.languageSelected {
    background-color: #ffc782;
    pointer-events: none;
}


.modalShared{
    position: fixed;
    z-index: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}

.modalShared .modalSharedBack {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 700;
}

.modalShared article {
    background-color: #FF8000;
    position: relative;
    z-index: 701;
    width: 900px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.modalShared .firstBox {
    width: 50%;
    padding: 25px 20px;
}

.modalShared .firstBox p {
    color: white;   
    font-size: 18px;
    font-family: 'Roboto';
    font-weight: 500 !important;
    letter-spacing:  0.8px;
    line-height: 1.3;
    margin: 0;
}

.modalShared .firstBox h2 {
    margin: 0;
    padding-bottom: 15px;
    color: white;   
    font-size: 22px;
    font-family: 'MegaByteBold';
    letter-spacing:  0.8px;
    line-height: 1.3;
}

.modalShared .firstBox div {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
}

.modalShared .firstBox div img {
    width: 140px;
}

.modalShared .firstBox .sharedText {
    margin-top: 10px;
}

.modalShared .firstBox .sharedIcons {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.modalShared .firstBox .sharedIcons img {
    width: 40px;
    margin-right: 20px;
    cursor: pointer;
}

.modalShared .lastBox {
    width: 50%;
}

.modalShared img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.modalShared .iconClose {
    position: absolute;
    right: 23px;
    top: 27px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.modalShared .iconClose::after {
    transform: rotate(45deg);
    position: absolute;
    top: 16px;
    left: -5px;
    content: '';
    width: 48px;
    height: 5px;
    background-color: #FF8000;
    z-index: 703;
}

.modalShared .iconClose::before {
    transform: rotate(-45deg);
    position: absolute;
    top: 16px;
    left: -5px;
    content: '';
    width: 48px;
    height: 5px;
    background-color: #FF8000;
    z-index: 703;
}